body {
  background-image: url(/images/woman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  
  
}

h1 { background-color:orange;
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.important {
  color: red;
}
.unimportant {
  color: blue;
} 